<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<div class='card'>
  <select class 'card'>
  </select>
</div>
<div class='card'>
  <select class 'card'>
  </select>
</div>
<div class='card'>
  <select class 'card'>
  </select>
</div>
<button data-ui-sref='import-data' class='btn'>
  GO
</button>
