// _forms.scss

////////////////////////////////////////////////////////
// Forms: Inputs
////////////////////////////////////////////////////////
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  -webkit-appearance: none;
  display: block;
  height: 40px;
  padding: 0 12px;
  @include fontSize(14px);
  color: $color-black;
  border-radius: 0;
  vertical-align: middle;
  box-shadow: none;
  border: 1px solid $form-border-color;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: $sans-serif;
  background-color: $color-white;

  @media #{$large-up} {
    height: 50px;
  }

  &::-webkit-input-placeholder {
    color: $form-text-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $form-text-color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $form-text-color;
  }

  &:-ms-input-placeholder {
    color: $form-text-color;
  }

  &::-ms-clear {
    display: none;
  }

  // a focused input (or hovered on)
  &:focus,
  &:active {
    outline: none;
    border-color: $form-border-color-active;
    color: $color-black;

    &::-webkit-input-placeholder {
      color: $form-text-color;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $form-text-color;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $form-text-color;
    }

    &:-ms-input-placeholder {
      color: $form-text-color;
    }
  } // end hover or focus

  // error notification
  &.error,
  &.is-invalid {
    color: $alert-red;
    border-color: $alert-red;
    background-color: $color-white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $alert-red;
    margin-bottom: 1rem;

    @media #{$medium-up} {
      margin-bottom: 0;
    }

    &::-webkit-input-placeholder {
      color: $alert-red;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $alert-red;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $alert-red;
    }

    &:-ms-input-placeholder {
      color: $alert-red;
    }
  } // end invalid input

  // success notification
  &.success,
  &.is-valid {
    color: $text-color;
    border-color: $form-border-color-success;
    background-color: $color-white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $form-border-color-success;
  } // end valid input

  // a disabled input
  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    border-color: $disabled-gray;
    opacity: 0.6;

    &:focus,
    &:active {

    } // end disabled focus

  } // end disabled input

} // end input defaults

.input-icon-left.active {
  span {
    background: $form-border-color-active;
  }
}

.is-valid {
  input, select {
    color: $text-color;
    border-color: $form-border-color-success;
    background-color: $color-white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $form-border-color-success;
  }
} // end valid input

.validetta-error,
.is-invalid {
  input, select {
    color: $alert-red;
    border-color: $alert-red;
    background-color: $color-white;
    background-position: 99% center;
    background-repeat: no-repeat;
    outline-color: $alert-red;
    margin-bottom: 1rem;

    @media #{$medium-up} {
      margin-bottom: 0;
    }

    &::-webkit-input-placeholder {
      color: $alert-red;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $alert-red;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $alert-red;
    }

    &:-ms-input-placeholder {
      color: $alert-red;
    }
  }

  .dollar-sign {
    background: $alert-red !important;
  }
} // end invalid input

.is-active {
  input, select {
    outline: none;
    border-color: $form-border-color-active;
  } // end hover or focus

  select {
    background-image: url('images/dd-arrows-active.png');
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 12px 18px;
  }
}

.error-message {
  color: $alert-red;
  line-height: 1.25;
  font-weight: 300;
  @include fontSize(14px);
  position: absolute;
  top: 74px !important;

  @media #{$large-up} {
    top: 83px !important;
  }
}

////////////////////////////////////////////////////////
// Forms: Fields
////////////////////////////////////////////////////////
label {
  cursor: pointer;
}

input[type="password"] {
  letter-spacing: 1px;
}

// textareas
textarea {
  max-width: 100%;
  min-height: 120px;
  line-height: 1.5em;
  padding: 12px;
}

// selects
select {
  color: $form-text-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('images/dd-arrows-inactive.png');
  background-repeat: no-repeat;
  background-position: right 11px center;
  background-size: 12px 18px;
  background-color: $color-white;

  &.checked {
    color: $color-black;
    background-image: url('images/dd-arrows-inactive.png');
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 12px 18px;
  }

  &:active,
  &:focus {
    color: $form-border-color-active;
    background-image: url('images/dd-arrows-active.png');
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 12px 18px;
  }
}

// IE remove BG
select::-ms-expand {
  display: none;
}

.checkbox {
  display: inline-block;

  input {
    opacity: 0;
    position: absolute;
  }

  input, label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
  }

  label {
    position: relative;
  }

  input + label:before {
    content: '';
    background: $color-white;
    border: 1px solid $form-border-color;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 10px;
    margin-top: -2px;
    text-align: center;
  }

  input:checked + label:before {
    background: $form-border-color-active;
    border-color: $form-border-color-active;
  }

  input.is-checked + label:before {
    background: $form-border-color-active;
    border-color: $form-border-color-active;
  }

  label.radio:before {
    border-radius: 50%;
  }

  &.outside-box {
    padding-left: 26px;

    input + label:before {
      margin-left: -25px;
    }
  }

  &.inline {
    display: inline-block;
    margin-right: 1rem;
  }
}

// ----------------------------------------
// Form: Range Input
// ----------------------------------------
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: $color-gray-1;
  position: relative;
}

.rangeslider--horizontal {
  height: 7px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $color-gray-1;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: url('images/pave-slider-bubble@2x.png') no-repeat center center;
  background-size: 102px 43px;
  color: $color-white;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 40px;
  position: absolute;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -18px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.rangeslider__handle {
  min-width: 62px;
  padding-top: 8px;
  text-align: center;

  &:after {
    background: 0;
  }
}

.range-slider-inner {
  .left-side {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 7px;
    background: $color-white;
  }

  .right-side {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 7px;
    background: $color-white;
  }
}

/*!
 * Validetta (http://lab.hasanaydogdu.com/validetta/)
 * Version 1.0.1 ( 16-08-2015 )
 * Licensed under MIT (https://github.com/hsnayd/validetta/blob/master/LICENCE)
 * Copyright 2013-2015 Hasan Aydoğdu - http://www.hasanaydogdu.com
 */

.validetta-bubble {
  position: absolute;
  max-width: 325px;
  z-index: 9;
  left: 0 !important;
  color: $alert-red;
  line-height: 1.25;
  font-weight: 300;
  @include fontSize(14px);
}

.input-icon-left.validetta-error {
  .validetta-bubble {
    top: 45px !important;

    @media #{$large-up} {
      top: 54px !important;
    }
  }
}

.form-group.validetta-error {
  @media #{$large-up} {
    margin-bottom: 0.5rem !important;
  }

  .validetta-bubble {
    top: 74px !important;

    @media #{$large-up} {
      top: 83px !important;
    }
  }
}

.validetta-inline,
.validetta-bubble {
  display: block;
}

.validetta-inline {
  color: #cd2e26; }
